*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main{
 height: 500px;
 width: 500px;
 border: 2px solid transparent;
 border-radius:35px;
 
 animation-name: effect ;
 animation-duration: 5s;
 animation-delay: 2ms;
 animation-iteration-count: infinite;
 animation-timing-function: linear;
}

h2{
 text-align: center;
 margin-top: 50px;
 color: #fff;
}

form {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 position: relative;
 top:50px;
 
}
.secson1 >input {
    width: 300px;
    padding: 10px;
    outline: none;
    margin: 7px;
}
.secson2 >input {
    width: 300px;
    padding: 10px;
    outline: none;
    margin: 7px;
}
.secson3 >input {
    width: 300px;
    padding: 10px;
    outline: none;
    margin: 7px;
}
.secson1 > label{
 color: #fff;
 margin-left: 10px;
}
.secson2 > label{
 color: #fff;
 margin-left: 10px;
}
.secson3 > label{
 color: #fff;
 margin-left: 10px;
}

.form > .btn{
 margin-right: 30px;
}

.btn{
 padding: 10px;
 width:100px;
}

@keyframes effect {
   1%{  box-shadow:  10px 10px   2px white}
   5%{  box-shadow:  10px -10px   2px white;} 
   10%{ box-shadow:  -10px -10px   2px white;}
   15%{ box-shadow: -10px  10px   2px white;}

   20%{ box-shadow:  10px  10px   2px white;}
   25%{ box-shadow: 10px  -10px   2px white;}
   30%{ box-shadow: -10px  -10px   2px white;}
   35%{ box-shadow: -10px  10px   2px white;}

   40%{ box-shadow:  10px  10px   2px white;}
   45%{ box-shadow: 10px -10px   2px white;}
   50%{ box-shadow:  -10px -10px   2px white;} 
   55%{ box-shadow: -10px  10px   2px white;}

   60%{ box-shadow:  10px  10px   2px white;}
   65%{ box-shadow: 10px -10px   2px white;} 
   70%{ box-shadow:  -10px -10px   2px white;}
   75%{ box-shadow: -10px  10px   2px white;}

   80%{ box-shadow:  10px  10px   2px white;}
   85%{ box-shadow: 10px -10px   2px white;}
   90%{ box-shadow:  -10px -10px   2px white;}
   95%{ box-shadow: -10px  10px   2px white;}

  100%{ box-shadow:  10px  10px   2px white;}  
}